//
// Site Footer
//===============================

.site--footer {
	background-color: $background--accent-color;
	margin-top: 40px;
	padding: 10px 20px;

	p {
		text-align: left;
		font-size: 14px;
		font-weight: 100;
		margin-bottom: 0;
	}
}