//
// Site Header
//====================

.site-header {
  width: 100%;
  color: $white;

  @media screen and (min-width: $full-layout--screen) {
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
}