//
// Colors
//======================

$olive: #403B10;
$neon: #00b624;
$green: #627f00;
$black: #191919;
$darkBlue: #1b202d;

$blue: #1c202c;
$white: #fff;
$orange: #cb4b14;
$orangeLight: #cc4b14;

$gray: #cccccc;
$grayDark: #8e8e8e;
$red: #FF4614;
$yellow: #ffc40d;

$background--accent-color: #ebebeb;
$sidebar--color: #868686;
$sidebar--hover-color: $darkBlue;

$titleBannerColor: #f2f2f2;
$commentsBackgroundColor: $white;
$authorBoxBackground: lighten($black, 92);
